body {
  text-align: center;
}

btn {
  background-color: purple;
}

.banner {
  background-color: red;
  height: 9rem;
}

.browse {
  font-weight: bold;
  font-size: 48px;
  color: white;
}

.banner li {
  display: inline-block;
}

.three-col {
  width: 30%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin: 0 10px;
}

.purple {
  background: purple;
  color: white;
  position: center;
  text-align: center;
}
